@{
    ViewData["Title"] = "Productos";
}

<main class="text-center">
    <article class="container mt-4">
        <h1 class="display-4">Detalle de Productos</h1>
        <h2>Listado de Productos</h2>

        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>
                        <a asp-controller="Productos" asp-action="Create" class="btn btn-success">+ Agregar Producto</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Descripcion</td>
                        <td>@p.Precio</td>
                        <td>
                            <a asp-controller="Productos" asp-action="Edit" asp-route-id="@p.IdProducto"
                                class="btn btn-warning">Modificar</a>
                            <a asp-controller="Productos" asp-action="Delete" asp-route-id="@p.IdProducto"
                                class="btn btn-danger ms-3">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </article>
</main>