@model int

<main class="text-center">
    <h1>Agregar producto al presupuesto @Model</h1>

    <form asp-action="AgregarP" method="post">
        <input type="hidden" name="idPresupuesto" value="@Model" />
        <div class="form-group">
            <label>ID del producto</label>
            <input name="idProducto" type="number" class="form-control" />
        </div>

        <div class="form-group">
            <label>Cantidad</label>
            <input name="cantidad" type="number" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Agregar</button>
        <a asp-action="Details" asp-route-id="@Model" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
</main>