@model int;

<main class="text-center">
    <h1 class="display-4">Borrar Producto</h1>
    <h4>¿Seguro que quieres eliminar el Presupuesto?</h4>
    <form asp-action="DeleteC" method="post">
        <input type="hidden" name="IdPresupuesto" value="@Model" />
        <button type="submit" class="btn btn-danger">Borrar Producto</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</main>