@using System.Linq
@{
    ViewData["Title"] = "Detalle de Presupuesto";
}

<main class="text-center">
    <h1 class="display-4">Detalle de Presupuesto</h1>
    <h2>Listado de Presupuestos</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Destinatario</th>
                <th>Fecha</th>
                <th><a asp-controller="Presupuestos" asp-action="Create" class="btn btn-success">+ Agregar</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.NombreDestinatario</td>
                        <td>@p.FechaCreacion.ToShortDateString()</td>
                        <td>
                            <a asp-controller="Presupuestos" asp-action="Details" asp-route-id="@p.IdPresupuesto"  class="btn btn-secondary">Detalles</a>
                            <a asp-controller="Presupuestos" asp-action="Delete" asp-route-IdPresupuesto="@p.IdPresupuesto"  class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
    </main>